@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
.list-container {
  height: 500px;
  width: 75vw;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.table_header{
  height: 60px;
  background-color: #1f1e21;
}

.table_content{
  height: 440px;
  overflow-y: auto;
}


strong{
  color: #00FFA3;

}






/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
