<div class="component_container">
  <div class="container-fluid">
    <div class="row title_head">
      <div class="col d-flex align-items-center justify-content-start">
        <h4>
          Deletar
        </h4>
      </div>
      <button mat-icon-button class="close_button d-flex align-items-center justify-content-around"
              (click)="this.appComponent.closePopup()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="row">
      <div class="col popup_content d-flex align-items-center justify-content-around flex-column">
        Você realmente deseja excluir essa label?
        <div>
          <button style="background-color: #d93544; margin-right: 2rem" mat-raised-button (click)="deleteLabel()">Sim</button>
          <button style="background-color: #1f1e21;" mat-raised-button (click)="appComponent.closePopup()">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>
