.create-container {
  max-height: 500px; /* Ajuste a altura máxima conforme necessário */
  height: 40rem;
  width: 75vw;
  overflow-y: auto;
  text-align: center;
}
.output{
  resize: none;
  outline: none;
  width: 90%;
  height: 90%;
  background-color: #f2f2f2;
}
.custom_button{
  width: 10rem;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
