<div class="mat-elevation-z8 create-container">
  <div class="container-fluid bg-danger h-100">
    <div class="row title_head bg-info ">
      <div class="col-2 d-flex text-center align-items-center">
        <h2 class="bg-danger">Entrada</h2>
      </div>
      <div class="col">
        <h2>Saída</h2>
      </div>
      <div class="col-2">
        <button mat-raised-button (click)="sendQuotes()">Criar</button>
      </div>
    </div>
    <div class="row bg-primary create_content">
      <div class="col-2 h-100 bg-black">

      </div>
      <div class="col h-100 bg-primary">

      </div>
    </div>
  </div>
</div>
