.create-container {
  height: 500px;
  width: 75vw;
}
.title_head{
  height: 12%;
  background-color: #1f1e21;
}
.input_textarea{
  width: 100%;
  height: 95%;
  resize: none;
  font-size: 24px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}
.output_textarea{
  width: 100%;
  height: 12.6rem;
  resize: none;
  color: #00FFA3;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}
.output_textarea_2{
  width: 100%;
  height: 12.6rem;
  resize: none;
  color: #ff6d78;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}
.create_content{
  height: 88%;
}
.custom_button{
  width: 6rem;
}
