.app_container{
  width: 100vw;
  height: 100vh;
  background-color: #b32f2f;
  display: flex;
  justify-content: flex-end;
}
.page{
  width: 90%;
  height: 100vh;
  background-color: #8c1fff;
}
.page_title{
  height: 2rem;
  background-color: #f3f3f3;
}
.page_content{
  height: auto;
  background-color: #75b068;
}
