<div class="d-flex w-100 h-100">
  <app-sidenav></app-sidenav>
<!--  <app-popup></app-popup>-->
  <div class="w-100">
      <div class="d-flex w-100 align-items-center p-3 justify-content-between">
        <h2>{{translateFunctionName()}}</h2>
        <select [(ngModel)]="selectedProjectId" (ngModelChange)="onProjectChange()" class="select">
          <option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
          </option>
        </select>
      </div>
      <div class="function-container">
        <app-label-list [projectId]="selectedProjectId" *ngIf="function == 'LIST'"></app-label-list>
        <app-create *ngIf="function == 'CREATE'"></app-create>
        <app-exchange *ngIf="function == 'EXCHANGE'"></app-exchange>
        <app-mysql *ngIf="function == 'MYSQL'"></app-mysql>
        <app-about *ngIf="function == 'ABOUT'"></app-about>
      </div>
  </div>
</div>
