<app-sidenav></app-sidenav>
<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
    <mat-form-field>
      <mat-label>Select the Project</mat-label>
      <mat-select [(ngModel)]="selectedProjectId" (ngModelChange)="onProjectChange()">
        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{ project.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container>
      <app-label-list [projectId]="selectedProjectId" *ngIf="function == 'LIST'"></app-label-list>
    </ng-container>
</div>
