.custom-table {
  max-height: 400px; /* Ajuste a altura máxima conforme necessário */
  width: 88vw;
  overflow-y: auto;
  position: relative;
  margin-left: 2.5rem;
  text-align: center;

  .mat-header-row {
    position: sticky;
    top: 0;
    background: #1F1E21;
    z-index: 1; /* Garante que o cabeçalho fique acima do conteúdo rolável */
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
