<div class="d-flex justify-content-center align-items-center flex-column">
  <h2>
    Label List
  </h2>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Column Definitions -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Header Row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <!-- Data Rows -->
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
