.list-container {
  height: 500px;
  width: 75vw;
}
.table_header{
  height: 60px;
  background-color: #1f1e21;
}
.table_content{
  height: 440px;
  overflow-y: auto;
  .table_row{
    height: 2rem;
    //background-color: #00FFA3;
  }
}

