<mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
  <!-- Column Definitions -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef> {{ getColumnLabel(column) }} </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- Display actions buttons in the 'actions' column -->
      <ng-container *ngIf="column === 'actions'">
        <button mat-icon-button (click)="copyRow(element)">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-icon-button (click)="editRow(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteRow(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <!-- Display regular cell data -->
      <ng-container *ngIf="column !== 'actions'">
        {{ element[column] }}
      </ng-container>
    </mat-cell>
  </ng-container>
  <!-- Header Row -->
  <mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <!-- Data Rows -->
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
